*{border: 2px solid rgb(190, 31, 20);
  


}



h1{color: gold;
  border: 2px solid rgb(0, 255, 34);
  margin-center: 61px;
  height: 100px;
  width: 100px;
  padding: 5px;
  text-align: center;



}



  body {background-color: rgb(49, 19, 138);}

ul{font: 900;
    color: rgb(196, 22, 95);
    border: 60px rgb(8, 11, 19);
    margin: 15px;color: black;
    padding: 1px;



}



