h1{color: gold;
  border: 2px solid red;
  margin: auto;
  padding: auto;
  text-align: center;



}


html {
    background-color: rgb(13, 27, 218);
  }

  body {background-color: rgb(13, 16, 185);}

ul{font: 900;
    color: rgb(2, 2, 12);
    border: 10px;
    margin: 15px;color: black;
    padding: 1px;



}

*{border: auto;
  margin:auto;
  padding: 200px solid red

}

