h1{color: gold;
  border: 2px solid rgb(0, 255, 34);
  margin-center: 61px;
  height: 100px;
  width: 100px;
  padding: 5px;
  text-align: center;



}


html {
    background-color: rgb(13, 218, 150);
  }

  body {background-color: rgb(13, 185, 79);}

ul{font: 900;
    color: rgb(28, 141, 39);
    border: 10px;
    margin: 15px;color: black;
    padding: 1px;



}

*{border: auto;
  margin:auto;
  padding: 200px solid red

}

